<ion-card>
  <ion-card-header>
    <ion-card-title>Equipments</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-thumbnail class="mx-auto">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-thumbnail class="mx-auto">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-thumbnail class="mx-auto">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-thumbnail class="mx-auto">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-thumbnail class="mx-auto">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-thumbnail class="mx-auto">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-thumbnail class="mx-auto">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-thumbnail class="mx-auto">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-card-content>
</ion-card>