
<ion-content [fullscreen]="true">
  <router-outlet></router-outlet>
  <ion-tabs>
    
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile" routerLink="/overview/profile">
        <ion-icon name="play-circle"></ion-icon>
        <p class="tab-title">Profile</p>
      </ion-tab-button>
      <ion-tab-button tab="resource" routerLink="/overview/resource">
        <ion-icon name="radio"></ion-icon>
        <p class="tab-title">Resources</p>
      </ion-tab-button>
      <ion-tab-button tab="base" routerLink="/overview/base">
        <ion-icon name="library"></ion-icon>
        <p class="tab-title">Base</p>
      </ion-tab-button>
      <ion-tab-button tab="explore" routerLink="/overview/explore">
        <ion-icon name="search"></ion-icon>
        <p class="tab-title">Explore</p>
      </ion-tab-button>
    </ion-tab-bar>
    
  </ion-tabs>
  
</ion-content>
