/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// Mixins
@import "mixins.scss";


// General Styles

:root {
    --ion-grid-column-padding : 1rem;
    --ion-grid-padding : 0;
    .mx-auto {
        margin: auto;
    }
}


*{
    box-sizing: border-box;
} 

body {
    @include ff-mosterrat-reg;
    @include fontStyle(10px, 14px, white);
}

h1{
    @include ff-protest-strike;
    font-size: 4.5rem;
    @include fontStyle(45px, 55px, white);
}

h2{
    @include ff-mosterrat-bold;
    @include fontStyle(38px, 45px, white);
}

h3{
    @include ff-mosterrat-sbold;
    @include fontStyle(30px, 40px, white);
}

h4{
    @include ff-mosterrat-sbold;
    @include fontStyle(24px, 30px, white);
}

h5{
    @include ff-mosterrat-reg;
    @include fontStyle(20px, 25px, white);
}


p{
    @include ff-mosterrat-reg;
    @include fontStyle(14px, 14px, white);
}


h1,h2,h3,h4,h5,p {
    @include font-smoothing;
    margin: 0;
    padding: 0;
}
